@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin-left: 120px;
}
.card-value-suit {
  font-size: 50px;
  position: absolute;
}
.card-value-suit.top {
  top: 5px;
  left: 5px;
}
.card-value-suit.bot {
  transform: rotate(180deg);
  bottom: 5px;
  right: 5px;
}
.card-suit {
  font-size: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33%;
}
.card.spades,
.card.clubs {
  color: black;
}
.card.hearts,
.card.diamonds {
  color: red;
}
body {
  background-color: green;
}
